<!DOCTYPE html>
<html>
<head>
  <title>Wellspring</title>

  <%= javascript_tag do %>
    var Wellspring = {};
    Wellspring.imageUploadPath = '<%= image_upload_path %>';
  <% end %>

  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "wellspring/application", media: "all" %>
  <%= javascript_include_tag "wellspring/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render partial: "wellspring/shared/navbar" %>

  <div class="wrapper wrapper-flash">
    <%= render partial: "wellspring/shared/flash_messages", flash: flash %>
  </div>

  <div class="main-content">
    <% if content_for?(:heading) %>
      <section id ="head">
        <%= yield(:heading) %>
      </section>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
