<%= simple_form_for(@entry, as: :entry, url: @entry.persisted? ? content_entry_path(@entry) : entries_path, html: { data: { entry_id: @entry.id } }) do |f| %>
  <div class="title-container">
    <div class="col field">
      <%= f.text_field :title, placeholder: 'Title' %>
      <%= f.error :title %>
    </div>
    <div class="col settings">
      <%= link_to '#', 'aria-selected' => false, data: { behavior: 'show-slider' }, class: 'js-menu-trigger sliding-panel-button post-settings-btn' do %>
        <i class="ion-ios-gear-outline"></i>
      <% end %>

      <%= f.submit "Save Draft", name: "draft", class: "btn btn-primary" %>
      <%= f.submit "Publish", name: "publish", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="editor-container">
    <div class="col split-view">
      <%= f.hidden_field :type, value: @entry.type %>

      <% @entry.class.content_attributes.each do |attr_name, attr_type| %>
        <%= f.input attr_name, as: attr_type %>
      <% end %>

      <% if @entry.class.content_attributes.any? %>
        <hr/>
      <% end %>

      <%= f.input :body, label: false, placeholder: "Start typing here...", input_html: { data: { behavior: 'text-dropzone live-preview' } } %>

      <nav class="js-menu sliding-panel-content">
        <div>
          <h4>Hero image</h4>
          <div data-behavior="hero" class="hero-dropzone">
            <% if @entry.hero_image.present? %>
              <%= image_tag @entry.hero_image.image.url %>
            <% end %>
          </div>
        </div>

        <%= f.input :raw_tags, label: "Tags" %>
        <%= f.input :slug %>
        <% if @entry.can_have_parent? %>
          <%= f.input :parent_id, collection: @entry.possible_parents %>
        <% end %>
        <%= f.input :author_name %>
        <%= f.input :published_at, as: :string %>
      </nav>

      <div class="js-menu-screen sliding-panel-fade-screen"></div>
    </div>

    <div class="col split-view preview">
      <div id="live-preview" data-preview-url="<%= preview_path %>"></div>
    </div>
  </div>

  <div class="editor-toolbar">
    <div class="col split-view">
      Editor
    </div>

    <div class="col split-view preview">
      <span id="word-count">0</span> words
    </div>
  </div>
<% end %>