<% title @entry.fresh? ? "New Entry" : "Editing " + @entry.title %>

<%= simple_form_for(@entry, as: :entry, url: content_entry_path(@entry), html: { data: { entry_id: @entry.id } }) do |f| %>
  <div class="title-container">
    <div class="col field">
      <%= f.text_field :title, placeholder: 'Title' %>
      <%= f.error :title %>
    </div>

    <div class="col settings">
      <%= link_to '#', 'aria-selected' => false, data: { behavior: 'show-slider' }, class: 'js-menu-trigger sliding-panel-button post-settings-btn' do %>
        <i class="ion-ios-gear-outline"></i>
      <% end %>

      <% if !@entry.published? %>
        <%= f.submit "Save Draft", name: "draft", class: "btn btn-primary" %>
        <%= f.submit "Publish", name: "publish", class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Unpublish", name: "unpublish", class: "btn btn-primary" %>
        <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="editor-container">
    <div class="col split-view">
      <%= f.hidden_field :type, value: @entry.type %>

      <% @entry.class.content_attributes.each do |attr_name, attr_type| %>
        <%= f.input attr_name, as: attr_type %>
      <% end %>

      <% if @entry.class.content_attributes.any? %>
        <hr/>
      <% end %>

      <%= f.input :body, label: false, placeholder: "Start typing here...", input_html: { data: { behavior: 'text-dropzone live-preview' } } %>

      <div class="js-menu sliding-panel-content slider">
        <div class="row">
          <label>Hero image</label>
          <div data-behavior="hero" class="hero-dropzone input">
            <% if @entry.hero_image.present? %>
              <div class="dz-preview dz-file-preview">
                <div class="dz-details">
                  <img src="<%= @entry.hero_image.image.url %>" data-dz-thumbnail />
                </div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress style="width: 100%"></span></div>
                <%= link_to image_path(@entry.hero_image), method: :delete, title: "Remove file", class: 'remove-file' do %>
                  <i class="ion-ios-trash-outline"></i>
                <% end %>
               </div>
            <% end %>
          </div>
        </div>

        <%= f.input :raw_tags, label: "Tags" %>
        <%= f.input :slug %>
        <% if @entry.can_have_parent? %>
          <%= f.input :parent_id, collection: @entry.possible_parents %>
        <% end %>
        <%= f.input :author_name %>
        <%= f.input :meta_description, as: :text %>
        <%= f.input :published_at, as: :datetime %>
      </div>

      <div class="js-menu-screen sliding-panel-fade-screen"></div>
    </div>

    <div class="col split-view preview">
      <div id="live-preview" data-preview-url="<%= preview_entry_path(@entry) %>"></div>
    </div>
  </div>

  <div class="editor-toolbar">
    <div class="col split-view">
      Editor
    </div>

    <div class="col split-view preview">
      <span id="word-count">0</span> words
    </div>
  </div>
<% end %>
